article {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

article figure {
    margin-right: 2rem;
}

article figure img {
    width: 30rem;

    transform: rotate(-20deg);
}

article div p, article div span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: var(--black);
}

article div span a:hover { text-decoration: underline }