mat-toolbar {
    background: var(--header-background);

    color: var(--header-color);

    padding: 1em;
}

mat-toolbar span:first-child {
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar button:last-child {
    margin-left: 0.4em;
}

mat-toolbar button {
    padding: .6em;

    border-radius: .5em;

    background: var(--header-button-background);

    transition: opacity .2s;

    color: var(--header-color);

    font-weight: bold;
}

mat-toolbar button:hover {
    opacity: .7;
}

.activeLink {
    border: 1px solid var(--white);
}
