* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --black: #2F242C;
    --purple: #502274;
    --pink: #A42CD6;
    --body-background: var(--black);
    --header-background: var(--purple);
    --header-color: var(--white);
    --header-button-background: var(--pink);
    --todo-list-background: transparent;
    --todo-list-color: var(--pink);
    --login-background: var(--black);
    --login-submit-background: var(--purple);
    --login-submit-color: var(--white);
    --create-task-background: transparent;
    --create-task-submit-background: var(--purple);
    --create-task-submit-color: var(--white);
    --low: #f5e769;
    --medium: #f5b869;
    --hard: #f56969;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    background: var(--body-background);
}
