footer {
    height: 9rem;

    background: var(--orange);

    z-index: 1;

    color: var(--white);
}

footer a:hover {
    color: var(--white);

    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    footer {
        font-size: 1rem;
    }

    footer div div {
        min-width: 8rem;
    }
}

@media screen and (min-width: 576px) {
    footer {
        font-size: 1.2rem;
    }

    footer div div {
        min-width: 9rem;
    }
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 1.4rem;
    }

    footer div div {
        min-width: 11rem;
    }
}

@media screen and (min-width: 992px) {
    footer {
        font-size: 1.6rem;
    }

    footer div div {
        min-width: 13rem;
    }
}