.section-title {
    top: -12.6rem;
}

.section-title figure img {
    width: 3rem;

    margin-left: 1rem;
}

label {
    transform-style: preserve-3d;

    width: 16.6rem;
    height: 21.8rem;

    position: absolute;

    perspective: 1000px;

    transform: translate(-50%, -50%);

    cursor: pointer;
}

.container {
    transform-style: preserve-3d;

    transition: transform .6s;
}

.front, .back {
    color: var(--black);
  
    background: var(--white);

    border-radius: 1.5rem;

    backface-visibility: hidden;
}

.front span {
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;

    color: var(--black);
}

.back p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
}

.container .back {
    transform: rotateY(180deg);
}

input:checked + .container {
    transform: rotateY(180deg);
}