<mat-card>

    <form class="form-content" *ngIf="createTaskForm" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
        
            <mat-label>Título</mat-label>
        
            <input matInput type="text" placeholder="Digite o título" formControlName="title">
        
        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Descrição</mat-label>
        
            <input matInput type="text" placeholder="Digite a descrição" formControlName="description">
        
        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Data</mat-label>
        
            <input matInput type="date" formControlName="date">
        
        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Prioridade</mat-label>

            <mat-select>
            
                <mat-option value="0" (click)="selectedOption($event)">Baixa</mat-option>
                <mat-option value="1" (click)="selectedOption($event)">Média</mat-option>
                <mat-option value="2" (click)="selectedOption($event)">Alta</mat-option>
            
            </mat-select>

            <input matInput id="priority" formControlName="priority">

        </mat-form-field>

        <input type="submit">
        
    </form>

</mat-card>