<mat-card>

    <form class="form-content" *ngIf="createTaskForm" [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
        
            <mat-label>Título</mat-label>
        
            <input matInput type="text" placeholder="Digite o título" formControlName="title">
        
        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Descrição</mat-label>
        
            <input matInput type="text" placeholder="Digite a descrição" formControlName="description">
        
        </mat-form-field>

        <mat-form-field appearance="outline">
        
            <mat-label>Data</mat-label>
        
            <input matInput type="date" formControlName="date">
        
        </mat-form-field>

        <mat-form-field appearance="fill">
        
            <mat-label>Prioridade</mat-label>

            <mat-select>
            
                <mat-option *ngFor="let option of priorityOptions" (click)="selectedOption(option)">{{ option.name }}</mat-option>
            
            </mat-select>

        </mat-form-field>

        <input type="submit">
        
    </form>

</mat-card>