<ul>

    <mat-card>
    
        <mat-card-header>

            <mat-card-title>Lista de Tarefas</mat-card-title>

        </mat-card-header>

        <mat-card-content *ngIf="gambi | async as taskList; else displaySpinner">
    
            <ng-container *ngFor="let task of tasksList">

                <div class="card">

                    <mat-checkbox [checked]="task.done" (change)="markAsDone(task)"></mat-checkbox>

                    <mat-expansion-panel id="title-{{ task.id }}" [ngStyle]="{ background: getColor(task.priority) }">
                    
                        <mat-expansion-panel-header>
                            
                            <mat-panel-title>{{ task.title }}</mat-panel-title>
                            <mat-panel-description>{{ task.description }}</mat-panel-description>

                        </mat-expansion-panel-header>
                        
                        <ul>

                            <li><span appDirective>Data de Entrega:</span> {{ task.dueDate | date }}</li>
                            <li><span appDirective>Prioridade:</span> {{ task.priority }}</li>
                            <li><span appDirective>Done:</span> {{ task.done }}</li>

                        </ul>

                        <button id="edit" (click)="updateTask(task)">Editar</button>
                        <button id="delete" (click)="deleteTask(task)">Deletar</button>

                    </mat-expansion-panel>

                </div>

            </ng-container>

        </mat-card-content>

        <ng-template #displaySpinner>
        
            <mat-spinner></mat-spinner>
        
        </ng-template>
    
    </mat-card>

</ul>
