.low {
    background: var(--low);
}

.medium {
    background: var(--medium);
}

.high {
    background: var(--hard);
}

mat-card {
    background: var(--todo-list-background) !important;

    color: var(--todo-list-color) !important;

    border-radius: 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.card mat-expansion-panel {
    flex: 1;

    margin-left: 1.4em;
}

.card mat-panel-title, .card mat-panel-description, .card li, .card p {
    color: var(--black);
}

#edit, #delete {
    padding: 0.8em;
    border-radius: 0.4em;
}

#edit {
    border: 0;

    color: var(--white);
    
    background: var(--pink);

    margin-right: 0.6em;
}

#delete {
    border: 1px solid var(--pink);

    color: var(--pink);
}
