<mat-card>

    <form class="form-content" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline">
        
            <label>E-mail</label>
        
            <input matInput placeholder="Digite seu e-mail" formControlName="email">
        
        </mat-form-field>
  
        <mat-form-field appearance="outline">
        
            <label>Password</label>
        
            <input type="password" matInput placeholder="Digite sua senha" formControlName="password">
        
        </mat-form-field>
  
        <input type="submit">
        
    </form>

</mat-card>